/* Default layout */
.panel-container {
    display: flexbox;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}
.game-panel-slot{   
    display: inline-block;
    overflow: hidden;
    height: 100%;
    width: 50%;
    margin: 0;
    padding: 0;
}


/* Smaller viewport config */
@media (max-width: var(--app-mobile-width)) {
    .panel-container {
        height: 100vh;
        overflow: hidden;
    }
    .game-panel-slot{   
        display: block;
        height: 50%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}