@let screenWidth = this.screenWidth();
@let useFitCover = screenWidth && screenWidth <= objectFitCoverMaxWidth;

<div class="game-panel card bg-dark border-0 border-radius-0 rounded-0">
    <img class="game-image card-img-top rounded-0"
            [ngClass]="useFitCover ? 'object-fit-cover' : 'object-fit-fill'"
            [src]="this.getImage()"
            alt="{{this.getName()}} thumbnail">
    <div class=".game-panel-overlay container-fluid card-img-overlay d-flex flex-column justify-content-end">
        <div class="game-info d-flex flex-column justify-content-center">
            <div class="row text-outline">
                <h1 class="game-info-title display-4 overflow-hidden">{{this.getName()}}</h1>
                @if (this.revealed()) {
                    <h2 class="game-info-size display-6 overflow-hidden">{{this.getSizeDisplay()}}</h2>
                }
            </div>
            @if (!this.revealed()) {
                <div class="game-panel-button-flex-container row d-flex justify-content-center align-items-center">
                    <div class="game-panel-button-container container-fluid">
                        <button class="game-panel-button" (click)="this.higherClicked()">Higher</button>
                        <button class="game-panel-button" (click)="this.lowerClicked()">Lower</button>
                    </div>
                </div>
            } 
        </div>
    </div>
</div>